body {
    background-color: white;
}

a.title {
    font-family: 'Bebas Neue';
    font-size: 60px;
    padding: 0px 70px 0px;
    text-decoration: none;
    color: black;
}

h2.title2 {
  font-family: 'Bebas Neue';
  font-size: 37px;
  padding: 50px 70px 0px;
  text-decoration: none;
  color: black;
}

img.logo1 {
    text-align: left;
      width: 38px;
      margin-right: 10px;
}

img.logo2 {
    text-align: left;
      width: 48px;
      margin-right: 10px;
}

img.logo3 {
    text-align: left;
      width: 45px;
      margin-right: 10px;
}

a.title-left1 {
  font-family: 'Bebas Neue';
  font-size: 40px;
  padding: 0px 35px 0px;
  text-decoration: none;
  color: black;
}

li.ligne1, 
  li.ligne1 { 
  display: flex; 
  flex-direction: row; 
  content: ""; 
  flex: 1 1; 
  border-bottom: 3px solid #000; 
  margin: none; 
} 

nav.pt1 {
  font-family: 'Bebas Neue';
  font-size: 28px;
  padding: 2px 70px 0px;
  color: black;
  text-decoration: none;
}

nav.pt2 {
  font-family: 'Bebas Neue';
  font-size: 28px;
  padding: 30px 70px 0px;
  color: black;
  text-decoration: none;
}

nav.pt3 {
  font-family: monospace;
  font-size: 17px;
  padding: 30px 100px 0px;
  color: black;
  text-decoration: none;
}

nav.pt4 {
  font-family: 'Bebas Neue';
  font-size: 28px;
  padding: 30px 70px 80px;
  color: black;
  text-decoration: none;
}

div.pt5 {
  font-weight: bold
}

img.img1 {
  text-align: left;
  width: 350px;
  margin-left: 50px;
  margin-top: 50px;
}

a.lien1 {
  text-decoration: underline;
  color: black;
  font-size: 28px;
}

#scrollUp
{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.5;
}

html { 
  scroll-behavior: smooth; 
}

svg {
  position: fixed;
  top: 20px;
  right: 30px;
  height: 32px;
  width: 32px;
}

.menu-label,
  .menu-cb {
    cursor: pointer;
    appearance: none;
    position: fixed;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 30px;
    z-index: 4;
}

.menu-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 90%;
  max-width: 400px;
padding-top: 110px;
text-align: right;
background: #DEDBDB;
z-index: 2;
transform: translateX(100%);
transition: transform 0.3s linear;
}

.menu-item {
  padding: .5em 20px;
  border-top: 3px solid black;
}

.menu-cb:checked ~ .menu-nav {
  transform: translateX(0);
}

.menu-cote {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

a {
  font-family: 'Bebas Neue';
  color: black;
  font-size: 32px;
  text-decoration: none;
}

ul {
  list-style-type : none;
}